/* HeroBanner.css */
.hero-banner{
  display:flex; gap:20px; align-items:center; background:linear-gradient(90deg,#fc6212 42.28%, rgba(234, 88, 12, 0.00) 100%);
  border-radius:10px; color:white; overflow:hidden;
}
.hero-content{ flex:1; z-index:2 }
.hero-content h1{ margin-left:12px; font-size:24px; line-height:1.05; font-weight:700 }
.hero-content p{ margin-top:12px;margin-left:12px; opacity:0.95; font-size:12px; max-width:640px }

.hero-image{ flex:1; max-width:420px; display:flex; justify-content:flex-end }
.hero-image img{ width:100%; border-radius:0px 10px 10px 0; object-fit:cover }

@media (max-width: 968px){
  .hero-banner{ flex-direction: column-reverse; text-align:center; padding:22px }
  .hero-content h1{ font-size:22px }
  .hero-image{ max-width:100%; width:100%; margin-bottom:12px }
  .hero-image img{ width:100%; border-radius:10px; object-fit:cover }
}
